<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service">
        <div class="container">
          <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
            <div class="col-sx-12 col-sm-6 col-md-6">
              <h2>Coaching à distance</h2>
              <p>Manque de temps, complexes, isolement géographique : vous avez envie de vous prendre en main mais cela vous paraît impossible. Il est temps pour vous de vous détendre et de me faire confiance.
                Je vous invite tout d'abord à me contacter par téléphone pour déterminer la nature de vos besoins. Ainsi, je pourrai rapidement vous faire parvenir par mail votre programme sportif détaillé comprenant les différents exercices à réaliser, les consignes d'exécution à respecter (placements, respiration, sécurité) ainsi que les conseils alimentaires susceptibles de vous aider.
                Afin de vous garantir un suivi personnalisé, des bilans réguliers vous seront proposés pour évaluer votre progression, vos points forts ainsi que les axes de travail à poursuivre et/ou à améliorer selon les objectifs que nous nous serons fixés. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
