<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service">
        <div class="container">
          <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
            <div class="col-sx-12 col-sm-6 col-md-6">
              <h2>Renforcement musculaire / tonification<h2>
              <p>Envie de tonifier votre corps, sculpter votre silhouette, perdre de la masse grasse : cette méthode est faite pour vous, le but étant de faire travailler l'ensemble de vos muscles en profondeur, sur une même séance d'entraînement.
                 Au-delà de la motivation esthétique qui est souvent énoncée dans ce cadre-là, le renforcement musculaire permet également de prévenir certaines blessures ou traumatismes notamment par le gainage du corps, le renforcement des articulations, le gain cardio-vasculaire et l'augmentation de la force physique que cela induit.
                 Parce que ce travail sur vous-même peut largement contribuer à votre bien-être quotidien et futur, je vous invite à vous laisser tenter : vous ne pourrez bientôt plus vous en passer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
