<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h2>Perte de poids<h2>
              <p>Une fois n'est pas coutume, si vous voulez perdre du poids, le sport sera votre meilleur allié.
                  Inutile de vous contraindre à des privations alimentaires excessives, il a déjà été prouvé trop souvent que le résultat de ces pratiques n'est que frustration et inefficacité sur le long terme. C'est pourquoi je vous propose un programme sportif 100% personnalisé, accompagné des conseils alimentaires nécessaires pour vous offrir des résultats durables et bien meilleurs pour votre santé.
                  Au-delà de l'aspect sportif et nutritionnel, mon rôle sera aussi de vous accompagner et de vous motiver à chaque étape de votre parcours. Ainsi, pas à pas, nous ferons pencher ensemble la balance du bon côté : c'est en tout cas le défi que je vous invite à relever.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
