<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service">
        <div class="container">
          <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
            <div class="col-sx-12 col-sm-6 col-md-6">
              <h2>Circuit-training</h2>
              <p>Vous êtes timide, réservé(e). Vous voudriez bien faire du sport, mais vous êtes seul(e) et pas toujours très motivé(e). Pas de problème, j'ai la solution pour vous sortir du canapé.
                 En semaine et le week-end, je vous propose de nous retrouver en petit comité, pour s’entraîner de manière ludique et variée, à travers des parcours sportifs fréquemment renouvelés. L'intérêt principal de ce concept relève de la mixité des activités qui sont proposées au cours d'une même séance (exemple : course à pied, pompes, tractions, abdominaux, corde à sauter).
                 Les circuits-training peuvent se pratiquer en intérieur (salle de sport), comme en extérieur (parcs) selon la météo et les envies du moment. Cette méthode est accessible à tous, elle permet d'améliorer considérablement votre condition physique générale tout en vous offrant de beaux moments d'entraide et de partage dans l'effort.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
