<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service2">
        <div class="container">
          <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6">
              <h2>Prise de masse<h2>
              <p>Adepte de musculation ou complexé(e) par votre silhouette que vous jugez trop fine, vous souhaitez focaliser vos efforts sur la prise de masse et de volume. Pour cela, nous allons travailler ensemble autour de deux aspects fondamentaux : l'exécution d'exercices ciblés ET la manière de vous nourrir.
                 En effet, avant de vous engager dans cette perspective, sachez que l'alimentation a un rôle très important pour accroître votre masse musculaire efficacement. Ainsi, il sera important de mettre en place un programme adapté à vos objectifs bien sûr, mais aussi à vous-même et à votre morphologie.
              </p>
            </div>
            <div class="col-sx-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
