<div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service2">
        <div class="container">
          <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6">
              <h2>Coaching enfants-ados (8-16 ans)</h2>
              <p>Animateur sportif pendant 10 ans dans les écoles élémentaires, il était important pour moi d'intégrer à mes coachings des formules pour les enfants et les adolescents. La manière de travailler est, certes, un peu différente mais les objectifs sont souvent les mêmes que pour les adultes (perte de poids, tonification, rééducation post-traumatique...).
                 Aussi, à l'âge où votre enfant se construit, il est parfois difficile pour lui de trouver sa place au sein d'un collectif et/ou d'éprouver du plaisir dans une activité spécifique. C'est ici que j'interviens en lui proposant des exercices ludiques et variés dans lesquels il pourra pleinement s'épanouir et trouver sa propre voie.
                 Pour les adolescents, la puberté n'est pas toujours très bien vécue par certains(es) en raison des transformations physiques qu'elle génère. Il est alors bon d'avoir à ce moment-là un soutien extérieur, un accompagnement personnalisé, afin d'apprivoiser ce nouveau corps et se sentir, dès lors, mieux dans sa peau.
                 Empli de passion pour ces jeunes gens, je mettrai tout mon cœur à l'ouvrage pour qu'ensemble nous menions à bien chacune de ces missions.
              </p>
            </div>
            <div class="col-sx-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
