<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service2">
        <div class="container">
          <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6">
              <h2>Conseils en nutrition / Rééquilibrage alimentaire<h2>
              <p>Trouver un juste équilibre, prendre en masse musculaire, perdre quelques kilos superflus : tels sont les différents enjeux d'un rééquilibrage alimentaire.
              Pour cela, je mets mes connaissances à votre service pour vous conseiller sur votre alimentation quotidienne, l'objectif ici n'étant pas de vous faire manger moins mais au contraire de vous faire manger mieux.
              De manière générale, avoir une bonne hygiène de vie contribue à nous maintenir en bonne santé. Cela est d'autant plus vrai pour les personnes qui pratiquent une activité physique : il est alors indispensable de fournir à votre corps les bons aliments aux bons moments pour renouveler votre énergie et ne pas vous épuiser inutilement.
              </p>
            </div>
            <div class="col-sx-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
