<div class="modal fade " id="modal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="padded_service">
        <div class="container">
          <div class="row">
            <div class="col-sx-12 col-sm-6 col-md-6">
              <%= image_tag 'happy.jpg'%>
            </div>
            <div class="col-sx-12 col-sm-6 col-md-6">
              <h2>Préparation physique<h2>
              <p>Une compétition à venir, un défi sportif à relever, un objectif personnel à atteindre : il est indispensable de vous y préparer pour optimiser votre réussite. C’est en tout cas ce que je vous propose par des entraînements ciblés et un accompagnement 100% personnalisé.
                 Investi sur un programme de plusieurs semaines, je m'engage à mettre mes compétences au service de vos ambitions. Ajoutées à cela votre motivation, votre volonté et votre assiduité dans le travail pour que notre collaboration soit le début de votre succès.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
