<div id="footer">
  <div class="text-center">
    <h2>Suivez mes News</h2>
    <ul class="list-inline">
      <li><a href=""><i class="fa fa-instagram"></i></a></li>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
    </ul>
  </div>
      <h6 class="text-right grey">Mike Coach© 2016 Tout droit réservé.</h6>
</div>
